@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* General & Index */
.encabezado {
  background-color: #2D3339;
  border: 1px;
  border-style: solid;
  border-bottom-color: #494949;
  display: flex;
  justify-content: center;
}

body {
  min-height: 100vh;
  font-family: "Hind Siliguri", sans-serif;
  background-color: #E5DEEE;
}

.firstlogo {
  width: 90px;
  height: 90px;
}

footer {
  grid-area: footer;
  background-color: #212529;
  color: white;
  margin: 0;
}
footer .py-3 .my-4 {
  margin: 0;
}
footer .redes-logo {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}
footer .redes-logo img {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.main-header {
  grid-area: header;
}

.main-menu {
  grid-area: nav;
}

.banner {
  background-image: url(../img/general/sky.jpg);
  background-size: 270%;
}
.banner p {
  display: flex;
  justify-content: center;
  color: #221D26;
}
.banner .banfirst {
  font-size: 90px;
  padding-top: 10px;
  font-family: "Oleo Script", cursive;
}
.banner h1 {
  text-align: center;
}
.banner .bansecond {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.navbar {
  grid-area: navbar;
}

.logonav {
  width: 70%;
}

.nav-link {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
}

.btn-outline-success {
  color: white;
  border-color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "header header" "navbar navbar" "top-ventas top-ventas" "top-generos top-generos" "footer footer";
}

.top-ventas {
  grid-area: top-ventas;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-ventas .h2-index {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 32px;
  color: #212529;
}

.tabla-index {
  width: 80%;
  border-radius: 20px;
  background-color: #E5DEEE;
}
.tabla-index .card-index {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #D9D4DF;
  border-radius: 20px;
  margin-bottom: 30px;
}
.tabla-index .imagen-index {
  text-align: center;
}
.tabla-index .imagen-index img {
  width: 200px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.tabla-index .imagen-index img:hover {
  transform: scale(1.02);
  padding-top: 5%;
  padding-bottom: 5%;
}
.tabla-index .titulo-libro, .tabla-index .author {
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  height: 100px;
  color: #100E10;
}
.tabla-index .titulo-libro p, .tabla-index .author p {
  margin-bottom: 5px;
}
.tabla-index .author {
  height: 30px;
  color: #C24C4C;
}
.tabla-index .precio {
  font-size: 30px;
  font-weight: 600;
  color: green;
  text-align: center;
}
.tabla-index .botonera {
  text-align: center;
  padding-bottom: 20px;
}
.tabla-index .boton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38%;
  height: 65px;
  background: #100E10;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.boton span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}

.boton::after {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  padding-left: 100%;
  left: calc(-100% - 65px);
  border-right: 65px solid transparent;
  border-bottom: 65px solid green;
  transition: 0.4s ease-in-out all;
}

.boton:hover::after {
  left: 0;
}

.to-store {
  text-decoration: none;
  color: #fff;
}

.top-generos {
  grid-area: top-generos;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-generos .tabla-generos {
  width: 80%;
}
.top-generos .titulo-secundario {
  padding-top: 70px;
  padding-bottom: 5px;
}
.top-generos .card-generos {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 5px 8px 20px black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-generos .titulo-genero {
  width: 100%;
  height: 100%;
  font-weight: 600;
}
.top-generos a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.top-generos p {
  color: white;
  font-size: 40px;
  padding-left: 10px;
  text-shadow: 0 0 8px black;
}

.card-generos:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}

.main-footer {
  grid-area: footer;
}

footer > a {
  color: white;
  text-decoration: none;
}

/* Ubication */
.main-header {
  grid-area: header;
}

.main-menu-ubication {
  grid-area: nav;
}

.banner-ubication {
  background-image: url(../img/general/sky.jpg);
  background-size: 150%;
}
.banner-ubication h1 {
  display: flex;
  justify-content: center;
  color: #221D26;
}
.banner-ubication .banfirst {
  font-size: 65px;
  font-family: "Oleo Script", cursive;
}
.banner-ubication .bansecond {
  padding: 30px;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.maps {
  text-align: center;
}

/* Terms */
.main-header {
  grid-area: header;
}

.main-menu-terms {
  grid-area: nav;
}

.ajuste-terms {
  margin-left: 3%;
  grid-area: ajuste-term;
  display: flex;
  justify-content: center;
  display: inline-block;
}
.ajuste-terms li {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 92%;
}
.ajuste-terms li p {
  text-align: justify;
  padding-bottom: 5px;
  font-size: 18px;
}
.ajuste-terms .section-term {
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
}

.banner-terms {
  background-image: url(../img/general/sky.jpg);
  background-size: 150%;
}
.banner-terms h1 {
  display: flex;
  justify-content: center;
  color: #221D26;
}
.banner-terms .banfirst {
  font-size: 65px;
  font-family: "Oleo Script", cursive;
  text-align: center;
}
.banner-terms .bansecond {
  padding: 30px;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

/* Contact */
.contact-body {
  background-color: #C8C0CD;
}

header {
  grid-area: header;
}

.banner-contact {
  background-image: url(../img/general/sky.jpg);
  background-size: 150%;
}
.banner-contact h1 {
  display: flex;
  justify-content: center;
  color: #221D26;
}
.banner-contact .banfirst {
  font-size: 75px;
  font-family: "Oleo Script", cursive;
}
.banner-contact .bansecond {
  padding: 30px;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.row {
  grid-area: formrow;
  margin: 1%;
}

form .direccion-calle {
  display: flex;
}
form .col-12 {
  width: 50%;
}
form .calle {
  padding-right: 8px;
}
form .calle #inputAddress {
  width: 100%;
}
form .entrecalle {
  padding-left: 8px;
}
form .entrecalle #inputAddress2 {
  width: 100%;
}

.userquest {
  padding-top: 2%;
  margin-bottom: 1%;
}

.header-contact {
  grid-area: header;
}

.footer-contact {
  grid-area: footer-contact;
}

/* Product */
.header-product {
  grid-area: header;
}

.main-menu-product {
  grid-area: nav;
}

.banner-product {
  background-image: url(../img/general/sky.jpg);
  background-size: 150%;
}
.banner-product h1 {
  display: flex;
  justify-content: center;
  color: #221D26;
}
.banner-product .banfirst {
  font-size: 75px;
  font-family: "Oleo Script", cursive;
}
.banner-product .bansecond {
  padding: 30px;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.venta {
  margin: 20px;
  grid-area: venta;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.venta .tabla-p {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 20px;
  background-color: #D9D4DF;
}
.venta .card {
  position: relative;
  overflow: hidden;
  width: calc(50% - 20px);
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #D9D4DF;
  border: none;
}
.venta .titulo {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  height: 100px;
}
.venta .author-p {
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  height: 40px;
  color: #C24C4C;
}
.venta .botonera-p {
  text-align: center;
}
.venta .boton-p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38%;
  height: 65px;
  background: #100E10;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 70%;
  font-size: 18px;
}
.venta .imagen {
  text-align: center;
}
.venta .imagen img {
  width: 75%;
}
.venta .imagen > img:hover {
  transform: scale(1.1);
  padding-top: 5%;
  padding-bottom: 5%;
}
.venta .precio {
  font-size: 30px;
  font-weight: 600;
  color: green;
  font-size: 25px;
  text-align: center;
}

.boton-p span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}

.boton-p::after {
  content: "";
  width: 100%;
  padding-left: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(-100% - 65px);
  border-right: 65px solid transparent;
  border-bottom: 65px solid green;
  transition: 0.4s ease-in-out all;
}

.boton-p:hover::after {
  left: 0;
}

/* Mediaquire index and general*/
@media (min-width: 480px) {
  .banner {
    grid-area: banner;
    background-size: 134%;
  }
}
@media (min-width: 768px) {
  .banner {
    grid-area: banner;
    background-size: 100%;
  }

  .top-ventas {
    margin: 20px;
  }

  .top-generos {
    margin: 20px;
  }

  .tabla-index {
    width: 80%;
    height: 100%;
    background-color: #E5DEEE;
    border: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .tabla-index .card-index {
    display: inline-flex;
    flex-direction: column;
    width: calc(33.33% - 20px);
  }
  .tabla-index .imagen-index {
    text-align: center;
  }
  .tabla-index .imagen-index img {
    width: 80%;
  }
  .tabla-index .botonera {
    display: inline-flex;
    justify-content: center;
  }
  .tabla-index .to-store {
    width: 60%;
  }
  .tabla-index .boton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #100E10;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  .boton span {
    position: relative;
    z-index: 2;
    transition: 0.3s ease all;
  }

  .boton::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-right: 80px solid transparent;
    border-bottom: 80px solid green;
    transition: 0.4s ease-in-out all;
  }

  .boton:hover::after {
    left: 0;
  }

  .top-generos .titulo-secundario {
    padding-top: 20px;
  }
}
@media (min-width: 900px) {
  .top-generos .tabla-generos {
    height: 100%;
  }
  .top-generos .titulo-secundario {
    padding-top: 40px;
  }
  .top-generos .all-card-generos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .top-generos .card-generos {
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas: "header header" "navbar navbar" "top-ventas top-ventas" "top-generos top-generos" "footer footer";
  }

  .banner {
    grid-area: banner;
    background-size: 100%;
  }

  .top-ventas {
    margin: 20px;
  }

  .top-generos {
    margin: 20px;
  }

  .tabla-index {
    width: 90%;
    height: 100%;
    border: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .tabla-index .card-index {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: calc(33.33% - 20px);
  }
  .tabla-index .imagen-index img {
    width: 50%;
  }
  .tabla-index .botonera {
    display: inline-flex;
    justify-content: center;
  }
  .tabla-index .to-store {
    width: 60%;
  }
  .tabla-index .boton {
    width: 100%;
    height: 80px;
  }

  .boton::after {
    left: calc(-100% - 80px);
    border-right: 80px solid transparent;
    border-bottom: 80px solid green;
  }

  .top-generos .tabla-generos {
    width: 90%;
    height: 100%;
  }
  .top-generos h2 {
    width: 100%;
    grid-area: genero-h2;
  }
  .top-generos .titulo-secundario {
    padding-top: 40px;
  }
  .top-generos .all-card-generos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .top-generos .card-generos {
    height: 350px;
  }
}
/* Mediaquire Ubication */
@media (min-width: 480px) {
  .banner-ubication {
    background-size: 225%;
  }
}
@media (min-width: 768px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-ubication {
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  .maps {
    grid-area: maps;
    margin-top: 5px;
    margin-bottom: 110px;
  }

  .header-ubication {
    grid-area: header-ubication;
  }

  .footer-ubication {
    grid-area: footer-ubication;
  }

  .wrapper-ubication {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header-ubication header-ubication" "navbar navbar" "maps maps" "footer footer";
  }

  .banner-ubication {
    background-size: 100%;
  }
}
/* Mediaquire Terms */
@media (min-width: 480px) {
  .banner-terms {
    background-size: 225%;
  }

  footer > p {
    margin: 0;
    padding-bottom: 1%;
  }
}
@media (min-width: 768px) {
  .banner-terms {
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  .header-terms {
    grid-area: header;
  }

  .footer-terms {
    grid-area: footer-terms;
  }

  .wrapper-terms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "navbar navbar" "ajuste-term ajuste-term" "footer footer";
  }

  .banner-terms {
    background-size: 100%;
  }
}
/* Mediaquire contact */
@media (min-width: 480px) {
  .wrapper-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "navbar navbar" "formrow formrow" "footer footer";
  }

  .banner-contact {
    background-size: 225%;
  }
}
@media (min-width: 768px) {
  .banner-contact {
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  .wrapper-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "navbar navbar" "formrow formrow" "footer footer";
  }

  .banner-contact {
    background-size: 100%;
  }

  .question {
    grid-area: question;
    margin-left: 40px;
    align-items: flex-start;
  }

  .bordes-contact {
    width: 150%;
    height: 100%;
  }
}
/* mediaquire Product */
@media (min-width: 480px) {
  .banner-product {
    background-size: 225%;
  }
}
@media (min-width: 768px) {
  .banner-product {
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  .wrapper-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "navbar navbar" "venta venta" "footer footer";
  }

  .banner-ubication {
    background-size: 100%;
  }

  .tabla-p {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .tabla-p .card {
    position: relative;
    overflow: hidden;
    width: calc(33.33% - 20px);
  }
  .tabla-p .imagen > img {
    width: 60%;
  }
  .tabla-p .botonera-p {
    text-align: center;
  }
  .tabla-p .boton-p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    height: 65px;
    background: #100E10;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 65px;
  }

  .boton-p span {
    position: relative;
    z-index: 2;
    transition: 0.3s ease all;
  }

  .boton-p::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 65px);
    border-right: 65px solid transparent;
    border-bottom: 65px solid green;
    transition: 0.4s ease-in-out all;
  }

  .boton-p:hover::after {
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
