/* Mediaquire index and general*/
@media (min-width: map-get($dimensions, phone)) {

    .carousel-inner{
        height: auto;

        img{
            height: 100%;
        }

    }
}

@media (min-width: map-get($dimensions, tablet)) {

    .carousel-inner{
        height: auto;

        img{
            height: auto;
        }
    }

    .top-ventas {
        margin: 20px;
    }

    .top-generos {
        margin: 20px;
    }

    .tabla-index {
        width: 80%;
        height: 100%;
        background-color: $color-body;
        border: 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .card-index {
            display: inline-flex;
            flex-direction: column;
            width: calc(33.33% - 20px);
        }


        .imagen-index {
            text-align: center;

            img {
                width: 80%;
            }
        }

        .botonera {
            display: inline-flex;
            justify-content: center;
        }

        .to-store {
            width: 60%;
        }

        .boton {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 80px;
            background: #100E10;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: .3s ease all;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
        }
    }

    .boton span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    .boton::after {
        content: "";
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(-100% - 80px);
        border-right: 80px solid transparent;
        border-bottom: 80px solid green;
        transition: .4s ease-in-out all;
    }

    .boton:hover::after {
        left: 0;
    }
}

@media (min-width: map-get($dimensions, notebook)) {

    .carousel-inner{
        height: auto;

        img{
            height: auto;
        }

    }

    .top-generos {

        .tabla-generos {
            height: 100%;
        }

        .all-card-generos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }

        .card-generos {
            height: 350px;
        }
    }
}

@media (min-width: map-get($dimensions, desktop)) {

    header{
        background-color: $color-footer;
    }

    .wrapper{
        max-width: 1900px;
        margin: auto;
    }

    .navbar{
        max-width: 1900px;
        margin: auto;
    }

    #all-carousel-ban{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;
    }

    .carousel-inner{
        width: 70%;
        height: 350px;

        img{
            height: 350px;
        }

    }

    .carousel-control-prev, .carousel-control-next{
        width: 35%;
    }



    .banner {
        grid-area: banner;
        background-size: 100%;
    }

    .top-ventas {
        margin: 20px;
    }

    .top-generos {
        margin: 20px;
    }

    .tabla-index {
        width: 70%;
        height: 100%;
        border: 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .card-index {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-bottom: 0px;
            width: calc(33.33% - 20px);
        }


        .imagen-index {

            img {
                width: 60%;
            }
        }

        .botonera {
            display: inline-flex;
            justify-content: center;
        }

        .to-store {
            width: 60%;
        }

        .boton {
            width: 100%;
            height: 80px;
        }
    }

    .boton::after {
        left: calc(-100% - 80px);
        border-right: 80px solid transparent;
        border-bottom: 80px solid green;
    }

    .top-generos {

        .tabla-generos {
            width: 70%;
            height: 100%;
        }

        .all-card-generos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }

        .card-generos {
            height: 350px;
        }

    }
}










/* Mediaquire Ubication */
@media (min-width: map-get($dimensions, phone)) {

    .banner-ubication {
        background-size: 225%;
    }
}

@media (min-width: map-get($dimensions, tablet)) {

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-ubication {
        background-size: 100%;
    }
}

@media (min-width: map-get($dimensions, desktop)) {

    .maps {
        grid-area: maps;
        margin-top: 5px;
        margin-bottom: 110px;
    }

    .header-ubication {
        grid-area: header-ubication;
    }

    .footer-ubication {
        grid-area: footer-ubication;
    }

    .banner-ubication {
        background-size: 100%;
    }
}











/* Mediaquire Terms */
@media (min-width: map-get($dimensions, phone)) {

    .banner-terms {
        background-size: 225%;
    }

    footer>p {
        margin: 0;
        padding-bottom: 1%;
    }
}

@media (min-width: map-get($dimensions, tablet)) {
    .banner-terms {
        background-size: 100%;
    }
}

@media (min-width: map-get($dimensions, desktop)) {

    .header-terms {
        grid-area: header;
    }

    .footer-terms {
        grid-area: footer-terms;
    }

    .banner-terms {
        background-size: 100%;
    }
}







/* Mediaquire contact */
@media (min-width: map-get($dimensions, phone)) {

    .banner-contact {
        background-size: 225%;
    }
}

@media (min-width: map-get($dimensions, tablet)) {
    .banner-contact {
        background-size: 100%;
    }
}

@media (min-width: map-get($dimensions, desktop)) {

    .banner-contact {
        background-size: 100%;
    }

    .question {
        grid-area: question;
        margin-left: 40px;
        align-items: flex-start;
    }

    .bordes-contact {
        width: 150%;
        height: 100%;
    }
}








/* mediaquire Product */
@media (min-width: map-get($dimensions, phone)) {

    .banner-product {
        background-size: 225%;
    }
}

@media (min-width: map-get($dimensions, tablet)) {

    .banner-product {
        background-size: 100%;
    }

    .tabla-p {
        .titulo{
            height: 100px;
        }
    }
}

@media (min-width: map-get($dimensions, desktop)) {

    .banner-ubication {
        background-size: 100%;
    }

    .tabla-p {
        width: 90%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .card {
            position: relative;
            overflow: hidden;
            width: calc(33.33% - 20px);
        }

        .titulo{
            height: 100px;
        }

        .imagen>img {
            width: 60%;
        }
    
        .botonera-p {
            text-align: center;
        }
    
        .boton-p {
           @include boton;
            width: 40%;
            height: 65px;
        }
    }

    .boton-p span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    .boton-p::after {
        content: "";
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(-100% - 65px);
        border-right: 65px solid transparent;
        border-bottom: 65px solid green;
        transition: .4s ease-in-out all;
    }

    .boton-p:hover::after {
        left: 0;
    }
}
