//mixin//
@mixin term-section {
    display: flex;
    justify-content: flex-start;
    font-size: 35px;
}

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
 }

 @mixin subtitulos {
   width: 100%;
   margin-top: 40px;
   font-size: 30px;
   font-weight: 500;
   color: grey;
 }

 @mixin libro-desc {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
 }

 @mixin precio {
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    color: black;
 }

 @mixin boton {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 38%;
        height: 65px;
        background: #100E10;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .3s ease all;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
 }

 @mixin text-final{
   margin-top: 20px;
   font-size: 25px;
   color: grey;
}
 