//Variables//
//Color del body//

$color-body: #E5DEEE;

//color del footer//
$color-footer: #212529;

//color del mostrador
$color-mostrador: #D9D4DF;

//color del nombre del autor
$color-autor: black;

//MAPS
$dimensions:(
    phone: 480px,
    tablet: 768px,
    notebook: 900px,
    desktop: 1200px,
);

