//SASS IMPORT
@import 'reseteo';
@import 'fuentes';
@import 'mixins';
@import 'variables';


/* General & Index */
.encabezado {
    background-color: #2D3339;
    border: 1px;
    border-style: solid;
    border-bottom-color: #494949;
    display: flex;
    justify-content: center;
}

body {
    min-height: 100vh;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: $color-body;
}

.firstlogo {
    @include sizes(90px, 90px);
}

footer {
    grid-area: footer;
    background-color: $color-footer;
    color: white;
    margin: 0;

    .py-3 .my-4 {
        margin: 0;
    }

    .redes-logo {
        width: 100%;
        padding-bottom: 20px;
        text-align: center;

        img {
            width: 50px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

}

.main-header {
    grid-area: header;
}

.main-menu {
    grid-area: nav;
}

.carousel-inner{
    height: auto;

    img{
        width: 100%;
    }
}

.banner {
    background-image: url(../img/general/sky.jpg);
    background-size: 270%;

    p {
        display: flex;
        justify-content: center;
        color: #221D26;
    }

    .banfirst {
        font-size: 90px;
        padding-top: 10px;
        font-family: 'Oleo Script', cursive;
    }

    h1 {
        text-align: center;
    }

    .bansecond {
        padding-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 0px;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
    }
}

.navbar {
    grid-area: navbar;
}

.logonav {
    width: 70%;
}

.nav-link {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 22px;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.top-ventas {
    grid-area: top-ventas;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabla-index {
    width: 80%;
    border-radius: 20px;
    background-color: $color-body;

    .h2-index {
        @include subtitulos;
    }

    .view-all-index{
        margin-left: 16px;
        font-size: 15px;
        text-decoration: none;
    }

    .card-index {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $color-mostrador;
        border-radius: 20px;
        margin-bottom: 30px;
    }

    .imagen-index {
        text-align: center;

        img {
            width: 200px;
            padding-top: 30px;
            padding-bottom: 20px;
        }

        img:hover {
            transform: scale(1.02);
        }
    }

    .titulo-libro {
        @include libro-desc;
        height: 100px;
        color: #100E10;

        p {
            margin-bottom: 5px;
        }
    }

    .author {
        @extend .titulo-libro;
        height: 30px;
        color: $color-autor;
    }

    .precio {
        @include precio;
        text-align: center;
    }

    .botonera {
        text-align: center;
        padding-bottom: 20px;
    }

    .boton {
        @include boton;
    }
}

.boton span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    padding-left: 100%;
    left: calc(-100% - 65px);
    border-right: 65px solid transparent;
    border-bottom: 65px solid green;
    transition: .4s ease-in-out all;
}

.boton:hover::after {
    left: 0;
}

.to-store {
    text-decoration: none;
    color: #fff;
}

.top-generos {
    grid-area: top-generos;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tabla-generos {
        width: 80%;
    }

    .titulo-secundario {
        @include subtitulos;
    }

    .card-generos {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 5px 8px 20px black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .titulo-genero {
        @include sizes(100%, 100%);
        font-weight: 600;
    }

    a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    p {
        color: white;
        font-size: 40px;
        padding-left: 10px;
        text-shadow: 0 0 8px black;
    }
}

.card-generos:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}



.main-footer {
    grid-area: footer;
}

footer>a {
    color: white;
    text-decoration: none;
}











/* Ubication */
.main-header {
    grid-area: header;
}

.main-menu-ubication {
    grid-area: nav;
}

.banner-ubication {
    background-image: url(../img/general/sky.jpg);
    background-size: 150%;

    h1 {
        display: flex;
        justify-content: center;
        color: #221D26;
    }

    .banfirst {
        font-size: 65px;
        font-family: 'Oleo Script', cursive;
    }

    .bansecond {
        padding: 30px;
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
}

.maps {
    text-align: center;
}





/* Terms */
.main-header {
    grid-area: header;
}

.main-menu-terms {
    grid-area: nav;
}

.ajuste-terms {
    margin-left: 3%;
    grid-area: ajuste-term;
    display: flex;
    justify-content: center;
    display: inline-block;

    li {
        padding-top: 20px;
        padding-bottom: 10px;
        width: 92%;

        p {
            text-align: justify;
            padding-bottom: 5px;
            font-size: 18px;
        }
    }

    .section-term {
        @include term-section;
    }
}

.banner-terms {
    background-image: url(../img/general/sky.jpg);
    background-size: 150%;

    h1 {
        display: flex;
        justify-content: center;
        color: #221D26;
    }

    .banfirst {
        font-size: 65px;
        font-family: 'Oleo Script', cursive;
        text-align: center;
    }

    .bansecond {
        padding: 30px;
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
}










/* Contact */
.contact-body {
    background-color: #C8C0CD;
}

header {
    grid-area: header;
}

.banner-contact {
    background-image: url(../img/general/sky.jpg);
    background-size: 150%;

    h1 {
        display: flex;
        justify-content: center;
        color: #221D26;
    }

    .banfirst {
        font-size: 75px;
        font-family: 'Oleo Script', cursive;
    }

    .bansecond {
        padding: 30px;
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
}

.row {
    grid-area: formrow;
    margin: 1%;
}

form {
    .direccion-calle {
        display: flex;
    }

    .col-12 {
        width: 50%;
    }

    .calle {
        padding-right: 8px;

        #inputAddress {
            width: 100%;
        }
    }

    .entrecalle {
        padding-left: 8px;

        #inputAddress2 {
            width: 100%;
        }
    }
}

.userquest {
    padding-top: 2%;
    margin-bottom: 1%;
}

.header-contact {
    grid-area: header;
}

.footer-contact {
    grid-area: footer-contact;
}












/* Product */
.header-product {
    grid-area: header;
}

.main-menu-product {
    grid-area: nav;
}

.banner-product {
    background-image: url(../img/general/sky.jpg);
    background-size: 150%;

    h1 {
        display: flex;
        justify-content: center;
        color: #221D26;
    }

    .banfirst {
        font-size: 75px;
        font-family: 'Oleo Script', cursive;
    }

    .bansecond {
        padding: 30px;
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
}

.venta {
    margin: 20px;
    grid-area: venta;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tabla-p {
        width: 90%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        background-color: $color-body;
    }
    
    .card {
        position: relative;
        overflow: hidden;
        width: calc(50% - 20px);
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $color-mostrador;
        border: none;
        border-radius: 20px;
    }

    .titulo {
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        height: 100px;
    }

    .author-p {
        @include libro-desc;
        height: 40px;
        color: $color-autor;
    }
    
    .botonera-p {
        text-align: center;
    }
    
    .boton-p {
        @include boton;
        width: 70%;
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .imagen {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    
        img {
            width: 75%;
        }
    }
    
    .precio {
        @include precio;
        font-size: 25px;
        text-align: center;
    }
}

.imagen>img:hover {
    transform: scale(1.02);
}

.boton-p span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton-p::after {
    content: "";
    width: 100%;
    padding-left: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 65px);
    border-right: 65px solid transparent;
    border-bottom: 65px solid green;
    transition: .4s ease-in-out all;
}

.boton-p:hover::after {
    left: 0;
}


@import 'mediaquery';